*{
    margin:10px;
    padding: 0;
    
 }
 body{
    background-color: rgb(201, 157, 214);
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
 }

 #title{

    font-size: 22px;
    text-align: center;

 }

 #links{

   margin-top: 100px;
    text-align: center;

 }