*{
margin:0;
padding: 0;
box-sizing: border-box;
}

body{
background-color: rgb(201, 157, 214);
font-family: 'calibri';

}
.form-contacto{
width: 400px;
background: #2e243c;
padding: 30px;
margin:auto;
margin-top: 100px;
border-radius: 4px;
color: white;
box-shadow: 7px 13px 37px #000;
}

.form-contacto h4{

font-size: 22px;
margin-bottom: 20px;    
}

.controls{
width: 100%;
background-color: #2e243c;
padding: 10px;
border-radius: 4px;
margin-bottom: 16px;
border: 1px solid #831fc5;
color: white;

}

.form-contacto .botons{

    width: 100%;
    background: #831fc5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;

}